<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center w3-light-grey" id="footer">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-indigo w3-hover-dark-grey" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook w3-color-text"></i></a>
  <a class="w3-button w3-large w3-indigo w3-hover-dark-grey" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter w3-color-text"></i></a>
  <a class="w3-button w3-large w3-indigo w3-hover-dark-grey" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin w3-color-text"></i></a>
  <p><i>Copyright &copy; 2019 Mumus Training & Consulting -All Rights Reserved.</i></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-color w3-hide-small w3-color-text">Go To Top</span>   
    <a class="w3-button w3-theme" href="#"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-left w3-hide-small"> 
    <button onclick="myFunction()" class="w3-button w3-grey w3-theme fa fa-envelope"> View Messages</button> 
    <p id="demo"></p>
  </div>

</footer>

<!-- script -->
<script src="assets/javascripts/js/main.js"></script>
