<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-color">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-indigo w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><h5><b><i class="fa fa-bars w3-color-text"></i></b></h5></a>

    <div class="w3-col s3">
      <a href="homes" class="w3-button w3-block w3-hover-indigo"><h5 class="w3-color-text"><b><i>Home</i></b></h5></a>
    </div>
    <div class="w3-col s3">
      <a href="#services" class="w3-button w3-block w3-hide-small w3-hover-indigo"><h5 class="w3-color-text"><b><i>Services</i></b></h5></a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-hide-small w3-hover-indigo"><h5 class="w3-color-text"><b><i>About</i></b></h5></a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block w3-hide-small w3-hover-indigo"><h5 class="w3-color-text"><b><i>Contact</i></b></h5></a>
    </div>
  </div>

  <div style="width:12%" class="w3-panel-2 w3-right w3-hide-small w3-padding-16">
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search" title="Type in a name" class="w3-hover-light-grey w3-round-xlarge  w3-input">
  </div>

  <!-- Links on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-indigo">
    <a href="#services" class="w3-bar-item w3-button w3-hover-light-grey"><b><i>Services</i></b></a>
    <a href="#about" class="w3-bar-item w3-button w3-hover-light-grey"><b><i>About</i></b></a>
    <a href="#contact" class="w3-bar-item w3-button w3-hover-light-grey"><b><i>Contact</i></b></a>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search" title="Type in a name"> 
  </div>
</div>
