<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <div class="w3-col l4 m6">
      <img src="assets/logo.png" class="w3-image">
    </div>
  </div>

  <!-- Table Section -->
  <table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
    <tr class="w3-indigo">
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th class="w3-hide-small">Delete</th>
    </tr>
    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td><%= home.name %></td>
          <td><%= home.email %></td>
          <td><%= home.message %></td>
          <td class="w3-hide-small">
            <%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr> 
      <% end %>
    </tbody>
  </table>

</div>
