<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <div class="w3-col l4 m6">
      <img src="assets/logo.png" class="w3-image">
    </div>
  </div>

  <!-- Slideshow -->
  <div class="w3-container">
    <div class="w3-display-container mySlides w3-animate-fading">
      <img src="assets/homePic3.jpg" style="width:100%">
      <div class="w3-display-topleft w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Project Management</span>
      </div>
    </div>
    <div class="w3-display-container mySlides w3-animate-fading">
      <img src="assets/homePic1.jpg" style="width:100%">
      <div class="w3-display-middle w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Business</span>
      </div>
    </div>
    <div class="w3-display-container mySlides w3-animate-fading">
      <img src="assets/homePic2.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">International Business</span>
      </div>
    </div>

    <!-- indigo bar below slider -->
    <div class="w3-container w3-indigo w3-padding w3-xlarge">
      <div class="w3-center">
        <a href="#footer" class="w3-bar-item w3-button w3-hover-white" title="Go Down"><h3><i class="fa fa-chevron-circle-down"></i></h3></a>
      </div>
    </div>
  </div>
  
  <!-- Our Services -->
  <div class="w3-row w3-container" id="services">
    <div class="w3-right w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-indigo w3-padding-16">What We Offer</span>
    </div>

    <div class="w3-margin-bottom">
      <img class="w3-image w3-opacity" src="assets/servicesBanner.jpg" alt="servicesImage">
    </div>

    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3><b>Project<br> management</b></h3>
      <p>We give detailed information on project management and the various tools.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3><b>Business<br> management</b></h3>
      <p>We educate and train interested parties concerning business managemant.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3><b>Leadership<br></b></h3>
      <p> ->Training & <br> ->Open forums <br> ->Bootcamps <br> On matters concerning leadership.</p>
    </div>

    <div class="w3-col l3 m6 w3-color w3-container w3-padding-16 w3-color-text">
      <h3><b>International<br> Business</b></h3>
      <p>We provide consultations that deals on topics about International business.</p>
    </div>
  </div>

  <!-- About Us Section -->
  <div class="w3-container w3-padding-64 w3-theme-l5" id="about">
    <div class="w3-left w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-indigo w3-padding-16">About Us</span>
    </div>

    <div class="w3-margin-bottom">
      <img class="w3-image w3-opacity" src="assets/banner.jpg" alt="aboutusImage">
    </div>

    <div class="w3-row">
      <div class="w3-col m5">
        <div class="w3-margin-bottom">
          <div class="w3-card-4">
            <div class="w3-container">
              <h3>Jack</h3>
              <p class="w3-opacity">CEO & Founder</p>
              <p>Qualifications.</p>
              <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="w3-col m7 w3-padding-large">
        <h3>About Mumus Training & Consulting.</h3>
        <p>Mumus Training and consulting is a Training and Consoltation platform.<br> The fields of interest are:<br> ->Project Management.<br> ->Business Administration.<br> ->Leadership &<br> ->International Business.</p>
      </div>
    </div>
  </div>

  <!-- Contact Container -->
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">

    <div class="w3-padding-16 w3-right"><span class="w3-xlarge w3-border-indigo w3-bottombar">Contact Us</span></div>

    <div class="w3-margin-bottom">
      <img class="w3-image w3-opacity" src="assets/contactBanner.png" alt="contactImage">
    </div>

    <div class="w3-row">
      <div class="w3-col m5">
        <h3>Address</h3>
        <p><i class="fa fa-map-marker w3-text-indigo w3-xlarge"></i>  Nairobi, Kenya</p>
        <p><i class="fa fa-phone w3-text-indigo w3-xlarge"></i>  +254 723763766</p>
        <p><i class="fa fa-envelope-o w3-text-indigo w3-xlarge"></i>  consultancy@mumustraining.com</p>
      </div>
      <div class="w3-col m7">

        <%= form_for Home.new, url: {action: "create"}, html: {class: "w3-container w3-card-4 w3-padding-16 w3-white"} do |f| %>
          <div class="w3-section">      
            <label class="w3-text-indigo">Name</label>
            <%= f.text_field :name, class: 'w3-input'%>
          </div>
          <div class="w3-section">      
            <label class="w3-text-indigo">Email</label>
            <%= f.text_field :email, class: 'w3-input'%>
          </div>
          <div class="w3-section">      
            <label class="w3-text-indigo">Message</label>
            <%= f.text_field :message, class: 'w3-input'%>
          </div>  
          <button type="submit" class="w3-button w3-indigo w3-right w3-theme fa fa-paper-plane"> Send</button>
        <% end %>

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

      </div>
    </div>


  </div>

</div>
