html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

.w3-color {
  background: #1a285a;
}

.w3-color-text {
  color: #ffff;
}

.w3-panel {
  transition:transform 0.25s ease;
}

.w3-panel:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.1);
}

.w3-panel-2 {
  transition:transform 0.25s ease;
}

.w3-panel-2:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.1);
}
